
:root {
    --main-color: #2E2F42;
    --accent-color: #404BBF;
    --text-color:#434455;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body{
    font-family: var(--primary-font);
}

h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.container {
    width: 1470px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* <!-----------------COMPONENTS------------------> */

.section-title{
margin-bottom: 72px;
font-size: 36px;
font-weight: 700;
text-align: center;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
color: var(--main-color)
}

.description-title{
margin-bottom: 8px;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;
color: var(--main-color)
}   

.text {
font-size: 16px;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
color: var(--text-color)
}

.logo {
    display: flex;
    margin-right: 76px;
}

/* <!-----------------HEADER------------------> */

.page-header {
padding-top: 25.5px;
padding-bottom: 25.5px;
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}

.page-header-container {
display: flex;
align-items: center;
justify-content: space-between
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link {
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
color:var(--main-color)
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact-info-phone {
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
color: var(--text-color)
}

.contact-info-mail {
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
margin-left: auto;
margin-right: 40px;
color: var(--text-color)
}

.contact-info-mail:hover,
.contact-info-mail:focus {
    color: var(--accent-color);
}

.contact-info-phone:hover,
.contact-info-phone:focus {
    color: var(--accent-color);
}

.logo-first{
font-family: var(--secondary-font);
font-size: 18px;
font-weight: 800;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
color: #4D5AE5;
}

.logo-second{
font-family: var(--secondary-font);
font-size: 18px;
font-weight: 800;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
color: var(--main-color)
}

/* <!-----------------HERO------------------> */

.hero-container {
max-width: 1440px;
margin-left: auto;
margin-right: auto;
padding-top: 188px;
padding-bottom: 188px;
display:flex;
justify-content: center;
background-image: linear-gradient(rgba(46, 47, 66, 0.70),
rgba(46, 47, 66, 0.70)),
url(../images/bg/bg-image.jpg);
background-size: cover;
}

.main-title {
font-size: 56px;
font-weight: 700;
line-height: 1.07; /* 107.143% */
text-align: center;
letter-spacing: 1.12px;
color: #FFFFFF;
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.main-btn{
display: block;
margin-left: auto;
margin-right: auto;
min-width: 169px;
height: 56px;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 32px;
padding-right: 32px;
border-radius: 4px;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.64px;
background-color: #4D5AE5;
color: #FFFFFF;
}
    
.main-btn:hover,
.main-btn:focus {
color: #FFFFFF;
background-color: var(--accent-color);
}

/* <!-----------------About-us----------------> */

.about-us {
display: flex;
gap: 24px;
align-content: flex-start;
margin-left: auto;
margin-right: auto;
}

.about-us-icon {
display: block;
align-items: center;
justify-content: center;
width: 264px;
height: 112px;
border-radius: 4px;
background: var(--CLOUD, #F4F4FD);
}

/* .about-us-icon-wrapper {
display: flex;
align-items: center;
justify-content: center;
height: 112px;

} */

/* .advantages-list-item {
    width: calc((100%-72px) / 4);
} */

/* <!-----------------What-we-do----------------> */

.what-we-do {
display: flex;
flex-wrap: wrap;
gap: 24px;    
}

/* <!-----------------Employes----------------> */

.employees {
display: flex;
flex-wrap: wrap;
gap: 24px;
}

.employees-name {
margin-bottom: 8px;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
text-align: center;
letter-spacing: 0.4px;
color: var(--main-color)
}   

.employees-position {
font-size: 16px;
line-height: 1.5; /* 150% */
text-align: center;
letter-spacing: 0.32px;
color: var(--text-color)
}

.employees-card {
border-radius: 0px 0px 4px 4px;
/* flex-basis: calc((100% - 72px)/ 4); */
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08)
}

.employees-card-content-wrapper {
padding-bottom: 32px;
padding-top: 32px;
}

/* <!-----------------Portfolio----------------> */

.portfolio-section {
margin-top: 96px;
margin-bottom: 72px;    
}

.portfolio-btn{
padding-left: 24px;
padding-right: 24px;
padding-top: 12px;
padding-bottom: 12px;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.64px;
color: #4D5AE5;
border: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--CLOUD, #F4F4FD);
}

.portfolio-menu {
display: flex;
align-items: center;
gap: 24px;
}
    
.portfolio-btn:hover,
.portfolio-btn:focus {
color: #FFFFFF;
background-color: var(--accent-color);
}    

.portfolio-btn-container {
display: flex;
align-items: center;
justify-content: space-between
}

.portfolio {
display: flex;
flex-wrap: wrap;
gap: 24px;
}

.portfolio-card {
border: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}

.portfolio-card:not(:nth-child(3n)) {
margin-right: 24px;
}

.portfolio-card:not(:nth-last-child(-n+3)) {
margin-bottom: 48px;
}

.portfolio-card-contect-wrapper {
padding-bottom: 32px;
padding-top: 32px;
}
